.head{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px; 
    background: linear-gradient(270deg, #108690 44.74%, #2F3180 95.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    
}

.image{
    background-image: url("./../../assets/2_new.png");
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 750px;
    opacity: 0.9;
    background-size: 350px 420px;
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    float: right;
    
}
.goal{ 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    color: #FCCF14;
}
.discription-goal1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px; 
    color: #FFFFFF;
}
.objectives{ 

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px; 
    color: #108690;
}
 
.x{
    display: flex;
    flex-direction: column;  
    margin-left: 5%; 
}
.y{
    display: flex;
    flex-direction: column; 
    margin-left: 15%; 
}
.new1{
    display: flex;
    flex-direction: row;
}
.discription-goal2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px; 
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    margin-left: 13%;
}
.community{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    color: #108690;
}